---
layout: default
title: Blog
pagination: 
    enabled: true
---

<section class="blog-list px-3 py-5 p-md-5">
	<div class="container">
		{% for post in paginator.posts %}
			<div class="item mb-5">
				<div class="media">
					<img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{ post.img }}" alt="image">
					<div class="media-body">
						<h3 class="title mb-1"><a href="{{ post.url }}">{{ post.title }}</a></h3>
						<div class="meta mb-1"><span class="date">Published 3 months ago</span><span class="time">5 min read</span><span class="comment"><a href="#">4 comments</a></span></div>
						<div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...</div>
						<a class="more-link" href="{{ post.url }}">Read more &rarr;</a>
					</div><!--//media-body-->
				</div><!--//media-->
			</div><!--//item-->
		{% endfor %}
		
		{% if paginator.total_pages > 1 %}
			<nav class="blog-nav nav nav-justified my-5">
				{% if paginator.previous_page %}
					<a class="nav-link-prev nav-item nav-link rounded-left" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
				{% endif %}
				{% if paginator.next_page %}
					<a class="nav-link-next nav-item nav-link rounded-right" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
				{% endif %}
			</nav>
		{% endif %}

  		<p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
		
	</div>
</section>