<header class="header text-center">	    
    <h1 class="blog-name pt-lg-4 mb-0"><a href="index.html">Avazbek Niyazov</a></h1>
    
    <nav class="navbar navbar-expand-lg navbar-dark" >
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navigation" class="collapse navbar-collapse flex-column" >
            <div class="profile-section pt-3 pt-lg-0">
                <img class="profile-image mb-3 rounded-circle mx-auto" src="/assets/images/myfoto_bw.jpg" alt="image" >			
                
                <div class="bio mb-3">Hi, my name is Avazbek Niyazov. I'm a Senior Software Developer with more 10 years experience in own field <br><a href="about.html">Find out more about me</a></div><!--//bio-->
                <ul class="social-list list-inline py-3 mx-auto">
                    <li class="list-inline-item"><a href="https://twitter.com/avazbe"><i class="fab fa-twitter fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/avazbek-niyazov/"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/avazbe"><i class="fab fa-github-alt fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="https://stackoverflow.com/users/9757752/avazbek-niyazov?tab=profile"><i class="fab fa-stack-overflow fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="https://codepen.io/avazbe"><i class="fab fa-codepen fa-fw"></i></a></li>
                </ul><!--//social-list-->
                <hr> 
            </div><!--//profile-section-->

            {% include navigation.html %}

            

            <div class="my-2" style="width: 100%;">
                <hr>
                <a class="btn btn-primary" href="contact.html" target="_blank"><svg class="svg-inline--fa fa-paper-plane fa-w-16 mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="paper-plane" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M476 3.2L12.5 270.6c-18.1 10.4-15.8 35.6 2.2 43.2L121 358.4l287.3-253.2c5.5-4.9 13.3 2.6 8.6 8.3L176 407v80.5c0 23.6 28.5 32.9 42.5 15.8L282 426l124.6 52.2c14.2 6 30.4-2.9 33-18.2l72-432C515 7.8 493.3-6.8 476 3.2z"></path></svg><!-- <i class="fas fa-paper-plane mr-2"></i> -->Hire Me</a>
            </div>
        </div>
    </nav>
</header>