/** {
    border: 1px dotted gray;
}*/

.my-photo {
    border-radius: 25%;
    width: 250px;
    border: 1px solid black;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .about-me-section .flex-column {
        flex-direction: row !important;
    }
    .about-me-section .media-body {
        width: 50%;
    }
    .about-me-section .my-photo {
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 576px) {
    .about-me-section .flex-column {
        flex-direction: column !important;
    }
    .about-me-section .media-body {
        width: 100%;
    }
    .about-me-section .my-photo {
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 320px) {
    .header .blog-name {
        left: 8px;
    }

    .about-me-section .portfolio-button {
        margin-right: 0px !important;
    }
}